:root{
    --main-color:#b5ddac;
    --background-color: rgb(51, 51, 51);
}

.bg-jasmine{
    background-color: var(--main-color);
}

.row-hero{

}

.hero-text{

}

.hero-img{
background-image: url(https://images.unsplash.com/photo-1578059456805-cd4809a05d70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) ;
}
.tea-img{
    height: 42vh;
    width: 100%;
    object-fit: cover;
}
.bg-vh{
    height: 45vh;
}
.row-vh{
    height:25vh
}
.tall-card{
    height: 16.2em;
}

.float-card{
    transform: translateY(1vh);
}
.green-text{
    color: #569648;
}
@media screen and (max-width: 768px) {
    /* .hero-text{
        text-decoration: ;
    } */

    .float-card{
        transform: translateY(0);
    }
    .tall-card{
        height: 17.2em;
    }
    .row-vh{
        height:59vh
    }
}