:root{
    --main-color:#8cbd81;
    --background-color: #a0be99;
}

.bg-jasmine{
    background-color: var(--main-color);
}

.p-card{
   
}

.hero-img{
background-image: url(https://images.unsplash.com/photo-1479658744930-03854858a953?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=421&q=80);
}
.tea-img{
    height: 42vh;
    width: 80%;
    object-fit: cover;
}
.bg-vh{
    height: 42vh;
}
.row-vh{
    height:33vh
}
.tall-card{
    height: 16.2em;
}
.bg-card{
    background-color: var(--background-color);
}
.float-card{
    transform: translateY(1vh);
}
.green-text{
    color: #569648;
}
/*NOTE @media */
@media screen and (max-width: 768px) {
    /* .hero-text{
        text-decoration: ;
    } */

    .float-card{
        transform: translateY(0);
    }
    .tall-card{
        height: 15.2em;
    }
    .row-vh{
        height:49vh
    }
}
@media screen and (min-width: 1680px) {

    .float-card{
        transform: translateY(0);
    }
    .tall-card{
        height: 17.2em;
    }
    .row-vh{
        height:25vh
    }
}
@media screen and (min-width: 1800px) {

    .float-card{
        transform: translateY(0);
    }
    .tall-card{
        height: 17.2em;
    }
    .row-vh{
        height:25vh
    }
}